.userBagde {
    display: flex;
    flex-direction: row;
    width: 200px;
    align-items: center;
}
.userBagde .userIcon {
    box-sizing: content-box;
    display: block;
    height: 40px;
    width: 40px;
    margin-right: 5px;
    border-radius: 50%;
}

.userBagde .userName {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.userBagde .timeDuration {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: gray;
}
.userBagde .userName:hover {
    text-decoration:underline;
}
.userBagde:hover {
    cursor: pointer;
}
.userBagde .userIcon:hover {
    border: solid 1px white;
}