.userProfile p {
    margin:0;
    padding:0;
}
.userProfile {
    width: 60%;
    margin: 0 auto;
}
.userProfile .userContent {
    box-sizing: border-box;
    padding:12px;
}
.userProfile .row {
    flex-wrap: nowrap;
    margin-right: 0;
}
.userProfile .profileTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.userProfile .userImages{
    width: 100%;
    height: 350px;
}

.userProfile .coverImg {
    display: block;
    width: inherit;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 10px 8px -4px rgba(78, 78, 78, 0.459);
}

.userProfile .profileImg {
    box-sizing: content-box;
    display: block;
    position: relative;
    bottom:80px;
    width: 160px;
    border-radius: 100%;
    border: 5px solid white;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.userProfile .userNameSection {
    text-align: center;
    font-size: 20px;

}
.userProfile .userNameSection::first-line {
    font-weight: bold;
    font-size: larger;
}

.userProfile .userInfo {
    position: sticky;
    top: 70px;
    border: 1px solid rgb(228, 223, 223);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 15px;
    margin-left:12px;
    border-radius: 20px;
    height: fit-content;
    padding: 10px 15px 20px 15px;
}

.userProfile .about {
    text-align: center;
    font-weight: bold;
    font-size:larger;
    padding: 10px;
    border-bottom: 1.5px solid rgba(96, 95, 95, 0.372);
    margin-bottom: 10px;
}
.userProfile .infoRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.userProfile .infoLabel {
    font-weight: bold;
    width: 120px;
}

.userProfile .userImages {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

